body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    max-width: 800px; /* or any width that suits your design */
    margin: 0 auto;   /* centers the paragraph */
    text-align: justify; /* optional: this aligns the text nicely */
}

.vertical-image {
    width: 500px; /* or any specific width */
    height: auto; /* Maintains the aspect ratio */
    display: block;
    margin: 20px auto; /* Centers the image */
}

.horizontal-image {
    width: auto; /* Maintains the aspect ratio */ 
    height: 500px; /* or any specific width */
    display: block;
    margin: 20px auto; /* Centers the image */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
