body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 25px 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    max-width: 600px; /* or any width that suits your design */
    margin: 0 auto 25px auto;   /* centers the paragraph and adds space at the bottom */
    text-align: justify; /* optional: this aligns the text nicely */
    line-height: 1.6; /* optional: increase line height for better readability */
}

ul {
    max-width: 600px; /* Set a maximum width for the list */
    margin: 0 auto 20px auto; /* Center the list and add some margin at the bottom */
    padding: 0 20px; /* Add some padding on the sides */
    text-align: left; /* Align the text to the left */
    list-style-position: inside; /* Position the bullet inside the padding area */
}

ul li {
    margin: 0.8em 0; /* Set the top and bottom margin to match the line-height */
    padding-left: 25px; /* Add padding to indent the whole bullet point */
    line-height: 1.6; /* Adjust the line height within each list item */
}

.vertical-image {
    width: 500px; /* or any specific width */
    height: auto; /* Maintains the aspect ratio */
    display: block;
    margin: 20px auto; /* Centers the image */
}

.horizontal-image {
    width: auto; /* Maintains the aspect ratio */ 
    height: 500px; /* or any specific width */
    display: block;
    margin: 20px auto; /* Centers the image */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
