body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    max-width: 600px; /* or any width that suits your design */
    margin: 0 auto;   /* centers the paragraph */
    text-align: justify; /* optional: this aligns the text nicely */
}

ul {
    max-width: 600px; /* Set a maximum width for the list */
    margin: 0 auto 20px auto; /* Center the list and add some margin at the bottom */
    padding: 0 20px; /* Add some padding on the sides */
    text-align: left; /* Align the text to the left */
    list-style-type: disc; /* Use disc bullets */
}

ul li {
    margin: 10px 0; /* Add space between the list items */
}

.vertical-image {
    width: 500px; /* or any specific width */
    height: auto; /* Maintains the aspect ratio */
    display: block;
    margin: 20px auto; /* Centers the image */
}

.horizontal-image {
    width: auto; /* Maintains the aspect ratio */ 
    height: 500px; /* or any specific width */
    display: block;
    margin: 20px auto; /* Centers the image */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
