body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

img {
    max-width: 10%; /* Adjust this percentage as needed */
    height: auto;   /* Maintains the aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
